.gravator-img{
  margin-top:-15px;
  margin-bottom:-15px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  width:100vw;
  height:calc(100vh - 43px);
}

.hoverDiv{
  position: absolute;
  z-index: 100;
  left:10px;
  top: 50px;
}
.setCenterMap{
  position: absolute;
  z-index: 100;
  right:10px;
  top: 50px;
}
