.gravator-img{
  margin-top:-15px;
  margin-bottom:-15px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  width:100vw;
  height:100vh;
}
.showNav{
  position: absolute;
  z-index: 100;
  left:10px;
  top: 5px;
}
.hoverDiv{
  position: absolute;
  z-index: 100;
  left:10px;
  top: 50px;
}

.loadingDiv{
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0.7;
  z-index: 400;
  width:100vw;
  height:100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingIcon{
  position: absolute;
  top:0px;
  left:0px;
  z-index: 500;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introButton{
  position: absolute;
  z-index: 100;
  left:10px;
  top: 90px;
}
.imageSlider{
  position: absolute;
  z-index: 200;
  left:0px;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #bbb;
  border-top-right-radius: 4px;
}
.imageSliderDisplay{
  /* -webkit-transform: translate(0, 75%); */
  /* transform: translate(0, 75%); */
  -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.cover-container {
    height: 100px;
    max-width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.cover-item {
    position: relative;
    display: inline-block;
    margin: 0;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 76px;
    height: 158px;
    vertical-align: bottom;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-input{
  width:100px !important;
  -webkit-transition: width .5s ease;
   -moz-transition: width .5s ease;
   transition: width .5s ease;
}
.destination-input:focus{
  width:calc(100vw - 90px) !important;
  -webkit-transition: width .5s ease;
   -moz-transition: width .5s ease;
   transition: width .5s ease;
}
.setCenterMap{
  position: absolute;
  z-index: 100;
  right:10px;
  top: 70px;
}

#sidebar {
  position: absolute;
  top: 50px;
  left:0px;
  z-index: 1500;
    min-width: 200px;
    max-width: 200px;
    background: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: top left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}
#sidebar .hide {
    background: #fafafa;
    text-align: center;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fafafa;
    text-align: center;
}

/* unvisited link */
#sidebar ul li a {
    color: #85C1E9;
}

/* mouse over link */
#sidebar ul li a:hover {
    color: #2471A3;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    /* background: #f5f5f5; */
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
