.gravator-img{
  margin-top:-15px;
  margin-bottom:-15px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  width:100vw;
  height:calc(100vh - 43px);
}

.hoverDiv{
  position: absolute;
  z-index: 100;
  left:10px;
  top: 50px;
}

.loadingDiv{
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0.7;
  z-index: 400;
  width:100vw;
  height:100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingIcon{
  position: absolute;
  top:0px;
  left:0px;
  z-index: 500;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageSlider{
  position: absolute;
  z-index: 200;
  left:0px;
  bottom: 0px;
}
.cover-container {
    height: 168px;
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.cover-item {
    position: relative;
    opacity: 0.9;
    display: inline-block;
    margin: 4px 4px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.destination-input{
  width:100px !important;
  -webkit-transition: width .5s ease;
   -moz-transition: width .5s ease;
   transition: width .5s ease;
}
.destination-input:focus{
  width:calc(100vw - 90px) !important;
  -webkit-transition: width .5s ease;
   -moz-transition: width .5s ease;
   transition: width .5s ease;
}
.setCenterMap{
  position: absolute;
  z-index: 100;
  right:10px;
  top: 50px;
}
