<template name="alltrucks">
  <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
  </div>
  {{#if showControl}}
    <div class="setCenterMap">
      <button type="button" class="btn btn-outline-primary btn-sm setCenteredMap">
        <i class="fas fa-crosshairs"></i>
      </button>
    </div>
    <div class="hoverDiv">
      {{#if isInRole 'truck'}}
        {{#if isInRole 'verified-truck'}}
          {{#if isOnline}}
            <button type="button" class="btn btn-danger btn-sm goOffline">Go Offline</button>
          {{else}}
            <button type="button" class="btn btn-success btn-sm goOnline">Go Online</button>
          {{/if}}
        {{else}}
          <a class="btn btn-primary btn-sm" href="tel:7842740174" role="button">Verify Account</a>
          <a class="btn btn-success my-2 btn-sm" href="/mytruck" role="button">Update Truck</a>
        {{/if}}
      {{else}}
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <input type="text" class="form-control destination-input" name="destination-input" placeholder="Destination    Get food trucks along your way" aria-label="Destination" aria-describedby="basic-addon1">
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if imagesExist}}
    <div class="imageSlider">
      <div class="row-fluid ">
        <div class="col px-0">
          <div class="cover-container">
            {{#each images}}
              <div class="cover-item" style="background-image: url('{{url}}')" data-toggle="modal" data-target="#sliderImage"></div>

            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="sliderImage" tabindex="-1" role="dialog" aria-labelledby="title image" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body mx-auto p-0">
            <img src="{{selectedImageId.url}}" class="img-fluid" alt="Image">
          </div>
          <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-info btn-sm showDirection" data-dismiss="modal">
              <i class="fas fa-compass"></i>
              Show Directions</button>
            <button type="button" class="btn btn-primary btn-sm goToTruck" data-dismiss="modal">
              <i class="fas fa-truck"></i>
              Show Truck</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  <!-- {{#unless Template.subscriptionsReady}} <div class="loadingDiv"></div> <div class="loadingIcon"> <div class="fa-6x"> <i class="fas fa-spinner fa-pulse"></i> </div> </div> {{/unless}} -->
  {{#if showControl}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary introButton" data-toggle="modal" data-target="#exampleModalCenter">
      <i class="fas fa-question"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Welcome to hungertruck.in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body small font-weight-light text-center">
            <img src="logo.jpg" alt="hungertruck.in logo" class="img-fluid p-4 shadow-lg mb-3">
            <p>
              We are Hyderabad based food truck discovery platform, currently operating only in Hyderabad.
            </p>
            <p>Most of the Food trucks located in Hi-tech city, Kondapur, Madhapur and Gachibowli area.
            </p>
            <p>
              You can locate your favourite food truck on the map and check their menu. You can plan where to eat before hitting the road.
            </p>
            <p>
              Read FAQs for more information, sign up to review and help register your truck.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  {{/if}}

</template>