<template name="alltrucks">
  <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
  </div>
  {{#if showControl}}
  <div class="setCenterMap">
    <button type="button" class="btn btn-outline-primary btn-sm setCenteredMap">
      <i class="fas fa-crosshairs"></i>
    </button>
  </div>
  <div class="hoverDiv">
    {{#if isInRole 'truck'}}
      {{#if isInRole 'verified-truck'}}
        {{#if isOnline}}
          <button type="button" class="btn btn-danger btn-sm goOffline">Go Offline</button>
        {{else}}
          <button type="button" class="btn btn-success btn-sm goOnline">Go Online</button>
        {{/if}}
      {{else}}
        <a class="btn btn-primary" href="tel:7842740174" role="button">Contact admin for verification</a>
        <a class="btn btn-success my-2" href="/mytruck" role="button">Update truck details</a>
      {{/if}}
    {{else}}
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
        <input type="text" class="form-control destination-input" name="destination-input" placeholder="Destination" aria-label="Destination" aria-describedby="basic-addon1">
      </div>
    {{/if}}
  </div>
  {{/if}}

  <div class="imageSlider">
    <div class="row">
      <div class="col mx-2">
        {{#if hasClass}}
          <button type="button" class="btn btn-outline-secondary btn-sm showHideSlider">
            <i class="fas fa-angle-double-up"></i>
          </button>
        {{else}}
          <button type="button" class="btn btn-outline-secondary btn-sm showHideSlider">
            <i class="fas fa-angle-double-down"></i>
          </button>
        {{/if}}
        <span class="lead">
          {{#if selectedUserId}}
            Images for selected truck.
          {{else}}
            Best images from all the food trucks.
          {{/if}}
        </span>
      </div>
    </div>
    <div class="row-fluid ">
      <div class="col px-0">
        <div class="cover-container">
          {{#each images}}
            <div class="cover-item" style="background-image: url('{{url}}')"></div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <!-- {{#unless Template.subscriptionsReady}} <div class="loadingDiv"></div> <div class="loadingIcon"> <div class="fa-6x"> <i class="fas fa-spinner fa-pulse"></i> </div> </div> {{/unless}} -->
{{#if showControl}}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary introButton" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-question"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Welcome to hungertruck.in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body small font-weight-light">
          <p>
            We are Hyderabad based food truck discovery platform, currently operating only in Hyderabad.
          </p>
          <p>
            You can locate your favorite food truck on map and check their menu. You can plan where to eat before hiting road.
          </p>
          <p>
            Read FAQs for more information, sign up to review and help register your truck.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{{/if}}

</template>
