<template name="menu">
  <div class="card card-body my-2 shadow-lg">
    {{item.name}}{{itemId}}
    {{#if addItem}}
      <form class="addItem my-2">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Name</span>
          </div>
          <input type="text" name="name" value="{{item.name}}" minlength="3" maxlength="100" class="form-control" required>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">
              <i class="fas fa-rupee-sign"></i>
            </span>
          </div>
          <input type="number" name="rate" value="{{item.rate}}" min="0" max="1000" class="form-control" required>
          <div class="input-group-append">
            <span class="input-group-text" id="">.00</span>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Save</button>
        <button type="button" class="btn btn-success btn-sm saveClose" >Save and Close</button>
        <button type="button" class="btn btn-secondary cancelAdd btn-sm px-3">Close</button>
      </form>
    {{else}}
      <button type="button" class="btn btn-primary btn-sm setAddTrue"><i class="fas fa-plus"></i> Item</button>
    {{/if}}
  </div>
  <div class="card my-3 shadow-lg">
    <div class="card-header">
      <h6 class="card-title">All Items for your truck</h6>
    </div>
    <ul class="list-group list-group-flush">
      {{#each items}}
        <li class="list-group-item">
          <span class="{{#if fav}}text-primary{{else}}text-secondary{{/if}} toggleFav"><i class="fas fa-star"></i></span>
          <button type="button" class="btn btn-danger btn-sm float-right py-0 deteleItem"><i class="fas fa-trash"></i></button>
          <button type="button" class="btn btn-success btn-sm float-right py-0 mx-1 editItem"><i class="fas fa-pencil-alt"></i></button>
          <i class="fas fa-rupee-sign"></i>{{rate}}.00 :
          {{name}}</li>
      {{/each}}
    </ul>
  </div>
</template>
