<template name="menu">
  <h3>menu</h3>
  {{#if addItem}}
    <form class="addItem my-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Item Name</span>
        </div>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="days">Rate</label>
        <input type="text" name="rate" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Save Item</button>
      <button type="button" class="btn btn-secondary cancelAdd">Cancel</button>
    </form>
  {{else}}
    <button type="button" class="btn btn-primary setAddTrue">Add Item</button>
  {{/if}}
{{#each items}}
  <div class="card my-2 shadow-lg">
    <div class="card-body">
      <button type="button" class="btn btn-danger btn-sm float-right deteleItem">Delete</button>
      <p class="card-text">{{name}} :{{rate}}</p>
    </div>
  </div>
{{/each}}
</template>
