<template name="schedules">
  {{#each schedules}}
    <div class="card my-2 shadow-lg">
      <div class="card-body small">
        <button type="button" class="btn btn-danger btn-sm float-right deteleSchedule"><i class="fas fa-trash"></i></button>
        <h6 class="card-title">Opening Schedule</h6>
        <p class="card-text">Start time: {{start}} <br> End time :{{end}} <br> Open Days {{days}}</p>
      </div>
    </div>
  {{/each}}
  <div class="card card-body my-2 shadow-lg">
  {{#if addSchedule}}
    <form class="addSchedule my-2">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Timing</span>
        </div>
        <input type="text" name="start" class="form-control">
        <input type="text" name="end" class="form-control">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Days</span>
        </div>
        <input type="text" name="days" class="form-control">
      </div>
      <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Schedule</button>
      <button type="button" class="btn btn-secondary cancelAdd"><i class="fas fa-times"></i></button>
    </form>
  {{else}}
    <button type="button" class="btn btn-primary btn-sm setAddTrue"><i class="fas fa-plus"></i> Schedule</button>
  {{/if}}

</div>

</template>
