<template name="truckdetails">
  {{#if editTruckBasic}}
  <div class="card my-2 shadow-lg">
    <div class="card-body">
      <form class="saveTruckBasic">
        <div class="form-group">
          <label for="truckName">Truck Name</label>
          <input type="text" class="form-control" name="truckName" value="{{truck.name}}" id="truckName" aria-describedby="emailHelp" placeholder="Truck Name" required>
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" class="form-control" name="mobileNumber" value="{{truck.mobile}}" id="mobileNumber" placeholder="Mobile Number" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control" name="address" id="address" value="{{truck.address}}" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-secondary cancelEdit">Cancel</button>
      </form>
    </div>
  </div>
    {{else}}
    <div class="card my-2 shadow-lg">
      <div class="card-body">
        <button type="button" class="btn btn-primary float-right editTruckBasic">Edit</button>
        <h4 class="card-title">Truck Details</h4>
        <p class="card-text">  Name : {{truck.name}} <br>
          Mobile : {{truck.mobile}} <br>
          Address : {{truck.address}} <br>
        </p>
      </div>
    </div>

  {{/if}}
</template>
