<template name="nav">
  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-lg">
    <div class="container">
      <a class="navbar-brand small" href="/">
        hungertruck</a>
      <div class="collapse navbar-collapse small" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/faqs">
              FAQs
            </a>
          </li>
          {{#if isInRole 'admin'}}
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <i class="fas fa-users"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </li>
          {{/if}}
          {{#if isInRole 'truck'}}
            <li class="nav-item">
              <a class="nav-link" href="/mytruck">
                My
                <i class="fas fa-truck"></i>
              </a>
            </li>
          {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {{#if currentUser}}
            <li class="nav-item">
              <a class="nav-link" href="/profile">
                <i class="fas fa-user" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link logout" href="#">
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
              </a>
            </li>
          {{else}}
            <li class="nav-item py-0">
              <a href="/login" class="nav-link">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                Login</a>
            </li>
            <li class="nav-item py-0">
              <a href="/join" class="nav-link">
                <i class="fas fa-user-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item py-0">
              <a href="/tr" class="nav-link">
                <i class="fas fa-plus" aria-hidden="true"></i>
                <i class="fas fa-truck" aria-hidden="true"></i>
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
