<template name="users">
  <div class="form-group shadow-lg">
    <input type="text" class="form-control textInput" name="users" placeholder="start typing to search users by email..">
  </div>
  <hr>
  {{#each users}}
    <div class="card my-1 shadow-lg">
      <div class="card-header setSelectedId" data-toggle="collapse" data-target="#collapse-{{_id}}">
        <i class="fas fa-chevron-down float-right" aria-hidden="true"></i>
        <i class="fas fa-user"></i>
        {{useremail}}{{this.username}}
        {{#if isAdmin}}
          : Admin
        {{/if}}
      </div>
      <div id="collapse-{{_id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="btn-group btn-group-sm my-1" role="group" aria-label="Basic example">
            <button type="button" class="btn {{#if userIsInRole _id 'truck'}} btn-primary {{else}} btn-secondary{{/if}} toggleTruck">Truck</button>
            <button type="button" class="btn {{#if userIsInRole _id 'user'}} btn-primary {{else}} btn-secondary{{/if}} toggleUser">User</button>
            <button type="button" class="btn {{#if userIsInRole _id 'verified-truck'}} btn-primary {{else}} btn-secondary{{/if}} toggleVerifiedTruck">Verified-Truck</button>
          </div>
          <div class="btn-group btn-group-sm my-1" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger deleteUser">Remove</button>
            <a class="btn btn-primary" href="/support/{{_id}}" role="button">Support</a>
            <button type="button" class="btn btn-primary setDefaultPass">SetPass</button>
          </div>
          <hr>
          {{#each phones}}
            {{number}}
            <button type="button" class="btn btn-danger btn-sm py-0 deletePhone">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button><br>
          {{/each}}
          {{#if addPhone}}
            {{#if userSelected}}
              {{#if addPhoneError}}
                <div class="alert alert-danger small my-2" role="alert">
                  <strong>Oh snap!</strong>
                  {{addPhoneError}}
                </div>
              {{/if}}

              <form class="addPhone">
                <div class="form-group">
                  <label for="exampleInputEmail1">Mobile Number</label>
                  <input type="number" class="form-control" name="phone" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile Number" min="6000000000" max="9999999999" required="required">
                </div>
                <button type="submit" class="btn btn-primary">Add Phone</button>
                <button type="button" class="btn btn-secondary cancelAddPhone">Cancel</button>
              </form>
            {{/if}}

          {{else}}
            <button type="button" class="btn btn-primary btn-sm my-2 addPhoneNumber">Add Mobile Number</button>
          {{/if}}

        </div>
      </div>
    </div>
  {{/each}}
</template>
